{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/categories.js') }}"></script>
{% endblock %}

{% block body %}
    <select onchange="getByCategoryId(this.value)" class="form-control">
        {% for tag in categories %}
            <option value="{{ tag.id }}">{{ tag.name }}</option>
        {% endfor %}
    </select>
    <ul class="list-group list-group-flush" id="algorithms"></ul>
{% endblock %}
