{% extends 'base.html.twig' %}

{% block title %}Hello AlgorithmController!{% endblock %}

{% block body %}
    <div id="content"></div>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.7/purify.min.js"
            integrity="sha512-srKA/HGYuusMcB2uqsvHKmqqE39vHU74WIuPBaKS5+wtfI6NquGXQtby+eM7o139a7Gt3szcHS09wou8GK4IJQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        document.getElementById('content').innerHTML =
           DOMPurify.sanitize(marked('{{ algorithm.description }}'));
    </script>
{% endblock %}